
* {
	box-sizing: border-box;
}



/*====================================
Base Element
====================================*/

body,
input {
	font-family: 'Josefin Sans', sans-serif;
}

img {
	width: 100%;
}

.hide {
	display: none;
}

/*====================================
Container
====================================*/

.container {
	max-width: 880px;
	width: 100%;
	padding: 16px 16px 0;
	margin: 0 auto;
}



/*====================================
Typography
====================================*/

#search,
.description {
	font-weight: 400;
	font-size: 1rem;
}

.description {
	line-height: 1.25;
}

.title {
	font-size: 1.3rem;
	font-weight: 600;
}

/*====================================
Color
====================================*/

.title,
.description {
	color: white;
}



/*====================================
Search Bar Style
====================================*/

#search {
	/**** size & spacing ****/
	padding: 16px;
	/*max-width: 632px;*/
	width: 100%;
	margin: 0 auto 16px;
	/**** style ****/
	border-style: none;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}



/*====================================
Grid Layout
====================================*/

.item {
	position: relative;

	display: block;
	float: left;
	width: calc( 50% - 8px);

	line-height: 0;
	margin-bottom: 16px;
	margin-right: 16px;
	
	cursor: pointer;
}

.item:nth-of-type(2n) {
	margin-right: 0;
}



/*====================================
Image overlay hover effect
====================================*/

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;

	height: 100%;
	width: 100%;

	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}

.item:hover .overlay {
	opacity: 1;
}



/*====================================
Media Querry
====================================*/

@media only screen and (min-width: 632px) {
    .item {
		width: calc( 33.33333% - 10.6666px );
	}

	.item:nth-of-type(2n) {
	 	margin-right: 16px;
	}

	.item:nth-of-type(3n) {
		margin-right: 0;
	}
}

@media only screen and (min-width: 848px) {
    .item {
		width: calc( 25% - 12px);
	}

	.item:nth-of-type(3n) {
	 	margin-right: 16px;
	}

	.item:nth-of-type(4n) {
		margin-right: 0;
	}
}


