* {
	box-sizing: border-box;
}

/*====================================
Base Element
====================================*/

body,
input {
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Advent Pro', sans-serif;*/
}

img {
	width: 100%;
	height: auto;
}

/*====================================
Container
====================================*/

.container {
	max-width: 1280px;
	width: 100%;
	padding: 16px 16px 0;
	margin: 0 auto;
}

.search-bar {
	text-align: center;
}



/*====================================
Typography
====================================*/

#search,
.description {
	font-weight: 300;
	font-size: 1rem;
}

.description {
	line-height: 1.2;
}

.title {
	font-size: 1.3rem;
	font-weight: 400;
}

/*====================================
Color
====================================*/

.title,
.description {
	color: white;
}

/*====================================
Search Bar Style
====================================*/

#search {
	/**** size & spacing ****/
	padding: 16px;
	max-width: 632px;
	width: 100%;
	margin: 0 auto 16px;
	/**** style ****/
	border-style: none;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

/*====================================
Image overlay hover effect
====================================*/

.title {
	margin-top: 0;
	margin-bottom: 16px;
}

.cell {
	position: relative;
	width: 100%;
	max-width: 200px;
}

.thumbnail {
	display: block;
	width: 100%;
	height: auto;
}

/**** Overlay style ****/

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;

	height: 100%;
	width: 100%;

	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}

.cell:hover .overlay {
  opacity: 1;
}

/*====================================
Grid Layout
====================================*/



/*====================================
Media Querry
====================================*/


